@use './colors' as colors;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    color: #f7f0f0;
}

.color-text {
    color: colors.$text_color;
}

.shadow-bg {
	background-color: rgba(61, 61, 40, 0.8);
}

.describe {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: colors.$desc-color;
}

nav {
    text-transform: uppercase;
    transition: .5s;
    z-index: 2;

    .navbar-toggler {
        padding: 10px 15px;
        border: 1px solid colors.$main_color;
    }

    .navbar-brand {
        font-weight: bold;
    }

    .navbar-nav .nav-link.active,
    .navbar-brand {
        color: colors.$navi-color;
    }

    .nav-link:focus,
    .nav-link:hover,
    .navbar-brand:hover,
    .nav-link.active:hover {
        color: colors.$main_color;
    }

}

header.hero-img {
    position: relative;
    height:200vh;
    // The image was downloaded from the website, 12.07.2023y:
    // https://www.zielonydziennik.pl/2022/02/21/uniewaznienie-umowy-kredytowej-w-euro/
    background-image: url('/images/bank_640x426.jpg');
    color: colors.$main_color;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: colors.$main_color;
    z-index: 0;

    h1 {
        text-transform: uppercase;
    }

}

.hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(122, 114, 3, 0.2);
    z-index: -5;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
}

@media (min-width: 768px) {
	h1 {
        font-size: 46px;
    }
}

@media (min-width: 1200px) {
	header.hero-img {
		background-image: url('/images/bank_1920x1280.jpg');
	}
}