@use './colors' as colors; 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    color: #f7f0f0;
}

nav {
    text-transform: uppercase;

    .navbar-toggler {
        padding: 10px 15px;
        border: 1px solid colors.$main_color;
    }

    .navbar-brand {
        font-weight: bold;
    }

    .navbar-nav .nav-link.active,
    .navbar-brand {
        color: colors.$grey-color;
    }

    .nav-link:focus,
    .nav-link:hover,
    .navbar-brand:hover,
    .nav-link.active:hover {
        color: colors.$main_color;
    }

}